<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serviceStarters" type="ServiceStarter.Configuration.ServiceStarterSection, ServiceStarter.Configuration"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <serviceStarters>
    <serviceInfo name="SipgEAS" displayName="SIPG.金蝶EAS接口自动化服务" serviceName="EAS Interfaces Services" description="与金蝶的EAS接口通讯的服务">
      <servicePaths>
        
      </servicePaths>
    </serviceInfo>
    <services>
      <service name="EAS" assemblyName="SHB.Tops.PCD.Services" typeName="SHB.Tops.PCD.Services.PCDService" contentPath="G:\EAS">
        <dependenceServices>
          <refService serviceName="Log"/>
        </dependenceServices>
      </service>
    </services>
  </serviceStarters>
  <log4net>
    <appender name="CommonAppender" type="log4net.Appender.RollingFileAppender">
      <file value="G:\\SIPG.EAS\\data\\logs\\starter_common\\logs.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <filter type="syslog4net.Filter.LogExceptionToFileFilter, syslog4net">
        <exceptionLogFolder value="G:\\SIPG.EAS\\data\\logs\\starter_common\\exceptions"/>
      </filter>
      <layout type="syslog4net.Layout.SyslogLayout, syslog4net">
        <structuredDataPrefix value="SrvStarter@HB56"/>
      </layout>
    </appender>
    <appender name="StarterAppender" type="log4net.Appender.RollingFileAppender">
      <file value="G:\\SIPG.EAS\\data\\logs\\starter\\logs.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <filter type="syslog4net.Filter.LogExceptionToFileFilter, syslog4net">
        <exceptionLogFolder value="G:\\SIPG.EAS\\data\\logs\\starter\\exceptions"/>
      </filter>
      <layout type="syslog4net.Layout.SyslogLayout, syslog4net">
        <structuredDataPrefix value="SrvStarter@HB56"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="CommonAppender"/>
    </root>
    <logger name="starterLogger" additivity="False">
      <level value="DEBUG"/>
      <appender-ref ref="StarterAppender"/>
    </logger>
  </log4net>
</configuration>
