<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="CommonAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs.txt" /> <!-- 这里只提供一个文件名，用于初始化，具体路径随后在代码中动态配置 -->
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="CommonAppender" />
    </root>
  </log4net>
</configuration>