<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <serviceStarters xdt:Transform="Replace">
    <serviceInfo name="CStarter.TestServices" displayName="CStarter测试服务" serviceName="CStarter Test Services" description="CStarter测试服务"></serviceInfo>
    <services>
      <service name="NormalServices" assemblyName="CStarter.NormalServices" typeName="CStarter.NormalServices.ServiceStarter" contentPath="NormalServices">
      </service>
      <service name="DependedOnService" assemblyName="CStarter.DependedOnService" typeName="CStarter.DependedOnService.ServiceStarter" contentPath="DependedOnService">
        <dependenceServices>
          <refService serviceName="NormalServices" />
        </dependenceServices>
      </service>
      <service name="StartFailureService" assemblyName="CStarter.StartFailureService" typeName="CStarter.StartFailureService.ServiceStarter" contentPath="StartFailureService">
      </service>
      <service name="RunFailureService" assemblyName="CStarter.RunFailureService" typeName="CStarter.RunFailureService.ServiceStarter" contentPath="RunFailureService">
      </service>
      <service name="ExitByCommandService" assemblyName="CStarter.ExitByCommandService" typeName="CStarter.ExitByCommandService.ServiceStarter" contentPath="ExitByCommandService"></service>
      <service name="RestartOnErrorService" assemblyName="CStarter.RestartOnErrorService" typeName="CStarter.RestartOnErrorService.ServiceStarter" contentPath="RestartOnErrorService" restartOnError="Y"></service>
    </services>
  </serviceStarters>
  <log4net xdt:Transform="Replace">
    <appender name="CommonAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
    </appender>
    <appender name="StarterAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="CommonAppender" />
    </root>
    <logger name="starterLogger" additivity="False">
      <level value="DEBUG" />
      <appender-ref ref="StarterAppender" />
    </logger>
  </log4net>
</configuration>