<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceStarters" type="CStarter.Configuration.ServiceStarterSection, CStarter.Configuration"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <serviceStarters>
    <!--<serviceInfo name="CStarter.TestServices" displayName="CStarter测试服务" serviceName="CStarter Test Services" description="CStarter测试服务"></serviceInfo>
    <services>
      <service name="NormalServices" assemblyName="CStarter.NormalServices" typeName="CStarter.NormalServices.ServiceStarter" contentPath="NormalServices">
        <dependenceServices>
          <refService serviceName="Log" />
        </dependenceServices>
      </service>
    </services>-->
  </serviceStarters>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <backColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <backColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <backColor value="DarkRed" />
      </mapping>
    </appender>
    <appender name="CommonAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
    </appender>
    <appender name="StarterAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="CommonAppender" />
    </root>
    <logger name="starterLogger" additivity="False">
      <level value="DEBUG" />
      <appender-ref ref="StarterAppender" />
    </logger>
  </log4net>
</configuration>